@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #b7d5ff;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
}

#slide-container {
  display: flex;
  justify-content: center;
}

#slide-container img {
  margin-top: 1rem;
}

#slide-container {
  min-width: 40rem;
  min-height: 20rem;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.desc {
  opacity: 0.7;
}

#img {
  width: 10rem;
  height: 8rem;
  border-radius: 50%;
}

.container__div-btn {
  padding: 0 10rem;
}

.btn {
  cursor: pointer;
  padding: 1rem;
  background-color: lightgreen;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 2rem;
}

i {
  color: rebeccapurple;
}
